
/* cloud voice */
.first-cloud-service-row {
    display: flex;
    flex-wrap: wrap;
    
}

.first-cloud-service-row .sbox-2 {
    background-color: #6936f5;
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.first-cloud-service-row .sbox-2:hover {
  background-color: #6936f5e6;
  color: #FFF;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .first-cloud-service-row .sbox-2 {
    height: 380px; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .first-cloud-service-row .sbox-2 {
    height: 380px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .first-cloud-service-row .sbox-2 {
    height: 300px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .first-cloud-service-row .sbox-2 {
    height: 300px; /* Example height for extra large screens */
  }
}
/* first-end */
.second-cloud-service-row {
  display: flex;
  flex-wrap: wrap;
}
.second-cloud-service-row .sbox-2 {
  background-color: #6936f5;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.second-cloud-service-row .sbox-2:hover {
  background-color: #6936f5e6;
  color: #FFF;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .second-cloud-service-row .sbox-2 {
    height: 350px; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .second-cloud-service-row .sbox-2 {
    height: 350px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .second-cloud-service-row .sbox-2 {
    height: 300px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .second-cloud-service-row .sbox-2 {
    height: 300px; /* Example height for extra large screens */
  }
}
/* second end */


.third-cloud-service-row {
  display: flex;
  flex-wrap: wrap;
}

.third-cloud-service-row .sbox-2 {
  background-color: #6936f5;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 400px;
}
.third-cloud-service-row .sbox-2:hover {
  background-color: #6936f5e6;
  color: #FFF;
}

/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .third-cloud-service-row .sbox-2 {
    height: 520px; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .third-cloud-service-row .sbox-2 {
    height: 520px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .third-cloud-service-row .sbox-2 {
    height: 400px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .third-cloud-service-row .sbox-2 {
    height: 400px; /* Example height for extra large screens */
  }
}
/* third-end */

.fourth-cloud-service-row {
  display: flex;
  flex-wrap: wrap;
}
.fourth-cloud-service-row .sbox-2 {
  background-color: #6936f5;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 1000px;
}
.fourth-cloud-service-row .sbox-2:hover {
  background-color: #6936f5e6;
  color: #FFF;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .fourth-cloud-service-row .sbox-2 {
    height: 1350px; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .fourth-cloud-service-row .sbox-2 {
    height: 1350px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .fourth-cloud-service-row .sbox-2 {
    height: 950px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .fourth-cloud-service-row .sbox-2 {
    height: 950px; /* Example height for extra large screens */
  }
}
/* cloud voice end */



 