
/* cloud voice */
.first-cloud-service-row {
    display: flex;
    flex-wrap: wrap;
    
}

.first-cloud-service-row .sbox-2 {
    background-color: #6936f5;
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 250px;;
    border-radius: 30px;
    padding: 0px 20px !important;
    text-align: left;
}

.first-cloud-service-row .sbox-2 ul {
  list-style-type: none;
  padding: 0;
}

.first-cloud-service-row .sbox-2 ul li {
  text-align: left;
}

.first-cloud-service-row .sbox-2:hover {
  background-color: #ef3f54;
  color: #FFF;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .first-cloud-service-row .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .first-cloud-service-row .sbox-2 {
    height: 380px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .first-cloud-service-row .sbox-2 {
    height: 300px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .first-cloud-service-row .sbox-2 {
    height: 250px; /* Example height for extra large screens */
  }
}
/* first-end */

.whatsapp-business {
  display: flex;
  flex-wrap: wrap;
}
.whatsapp-business .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 190px;
  padding: 0px 20px !important;
}
.whatsapp-business .sbox-2:hover {
  background-color: #FFF;
  color: #000;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .whatsapp-business .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .whatsapp-business .sbox-2 {
    height: 250px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .whatsapp-business .sbox-2 {
    height: 190px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .whatsapp-business .sbox-2 {
    height: 190px; /* Example height for extra large screens */
  }
}
/* second end */


.third-cloud-service-row {
  display: flex;
  flex-wrap: wrap;
}

.third-cloud-service-row .sbox-2 {
  background-color: #6936f5;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 350px;
  border-radius: 30px;
  padding: 0px 20px !important;
}
.third-cloud-service-row .sbox-2:hover {
  background-color: #ef3f54;
  color: #FFF;
}

/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .third-cloud-service-row .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .third-cloud-service-row .sbox-2 {
    height: 520px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .third-cloud-service-row .sbox-2 {
    height: 350px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .third-cloud-service-row .sbox-2 {
    height: 350px; /* Example height for extra large screens */
  }
}
/* third-end */

.fourth-cloud-service-row {
  display: flex;
  flex-wrap: wrap;
}
.fourth-cloud-service-row .sbox-2 {
  background-color: #6936f5;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 500px;
  border-radius: 30px;
  padding: 0px 20px !important;
}
.fourth-cloud-service-row .sbox-2:hover {
  background-color: #ef3f54;
  color: #FFF;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .fourth-cloud-service-row .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .fourth-cloud-service-row .sbox-2 {
    height: 1350px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .fourth-cloud-service-row .sbox-2 {
    height: 900px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .fourth-cloud-service-row .sbox-2 {
    height: 500px; /* Example height for extra large screens */
  }
}
/* cloud voice end */



/* ###########################################################  */
/* gen-ai-chatbot-start */
.gen-ai-chatbot-row-detail {
  display: flex;
  flex-wrap: wrap;
  
}

.gen-ai-chatbot-row-detail .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.gen-ai-chatbot-row-detail .sbox-2:hover {
  background-color: #ef3f54;
  color: #FFF !important;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.gen-ai-chatbot-row-detail .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.gen-ai-chatbot-row-detail .sbox-2 {
    height: 340px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.gen-ai-chatbot-row-detail .sbox-2 {
    height: 300px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.gen-ai-chatbot-row-detail .sbox-2 {
    height: 300px; /* Example height for extra large screens */
  }
}
/* end-first */

/* gen-ai-chatbot-end */


 /* Style for the caret icon */
.caret-icon {
  margin-left: 8px; /* Adjust the margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
}

/* Optional: Styling for the collapsed state */
.collapsed .caret-icon {
  transform: rotate(90deg); /* Rotate the caret for collapsed state */
}





/* CRM start */

.crm-solutions-service-row {
  display: flex;
  flex-wrap: wrap;
  
}

.crm-solutions-service-row .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 550px;;
  padding: 0px 20px !important;
  text-align: left;
}

.crm-solutions-service-row .sbox-2 ul {
list-style-type: none;
padding: 0;
}

.crm-solutions-service-row .sbox-2 ul li {
text-align: left;
}

.crm-solutions-service-row .sbox-2:hover {
background-color: #FFF;
color: #000;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.crm-solutions-service-row .sbox-2 {
  height: auto; /* Reset height for smaller screens */
}
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.crm-solutions-service-row .sbox-2 {
  height: 570px; /* Example height for medium screens */
}
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.crm-solutions-service-row .sbox-2 {
  height: 570px; /* Example height for large screens */
}
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.crm-solutions-service-row .sbox-2 {
  height: 550px; /* Example height for extra large screens */
}
}

/* CRM END */
 