
/* cloud voice */
.first-cloud-service-row {
    display: flex;
    flex-wrap: wrap;
    
}

.first-cloud-service-row .sbox-2 {
    background-color: #FFF;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 250px;;
    padding: 0px 20px !important;
    text-align: left;
}

.first-cloud-service-row .sbox-2 ul {
  list-style-type: none;
  padding: 0;
}

.first-cloud-service-row .sbox-2 ul li {
  text-align: left;
}

.first-cloud-service-row .sbox-2:hover {
  background-color: #FFF;
  color: #000;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .first-cloud-service-row .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .first-cloud-service-row .sbox-2 {
    height: 380px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .first-cloud-service-row .sbox-2 {
    height: 300px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .first-cloud-service-row .sbox-2 {
    height: 250px; /* Example height for extra large screens */
  }
}

/* cloud voice END */


/* whatsApp start */

.whatsapp-api-service-row {
  display: flex;
  flex-wrap: wrap;
}
.whatsapp-api-service-row .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 270px;;
  padding: 0px 20px !important;
  text-align: left;
}

.whatsapp-api-service-row .sbox-2 ul {
  list-style-type: none;
  padding: 0;
}

.whatsapp-api-service-row .sbox-2 ul li {
  text-align: left;
}

.whatsapp-api-service-row .sbox-2:hover {
  background-color: #FFF;
  color: #000;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .whatsapp-api-service-row .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .whatsapp-api-service-row .sbox-2 {
    height: 250px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .whatsapp-api-service-row .sbox-2 {
    height: 270px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .whatsapp-api-service-row .sbox-2 {
    height: 270px; /* Example height for extra large screens */
  }
}

/* whatsApp END */


/* ###########################################################  */
/* gen-ai-chatbot-start */

.first-gen-ai-chatbot-row {
  display: flex;
  flex-wrap: wrap;
  
}

.first-gen-ai-chatbot-row .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 250px;;
  padding: 0px 20px !important;
  text-align: left;
}

.first-gen-ai-chatbot-row .sbox-2 ul {
list-style-type: none;
padding: 0;
}

.first-gen-ai-chatbot-row .sbox-2 ul li {
text-align: left;
}

.first-gen-ai-chatbot-row .sbox-2:hover {
  background-color: #FFF;
  color: #000 !important;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.first-gen-ai-chatbot-row .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.first-gen-ai-chatbot-row .sbox-2 {
    height: 340px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.first-gen-ai-chatbot-row .sbox-2 {
    height: 260px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.first-gen-ai-chatbot-row .sbox-2 {
    height: 260px; /* Example height for extra large screens */
  }
}

/* first-end */


/* second start */

.second-gen-ai-chatbot-row {
  display: flex;
  flex-wrap: wrap;
  
}

.second-gen-ai-chatbot-row .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 350px;;
  padding: 0px 20px !important;
  text-align: left;
}

.second-gen-ai-chatbot-row .sbox-2 ul {
list-style-type: none;
padding: 0;
}

.second-gen-ai-chatbot-row .sbox-2 ul li {
text-align: left;
}

.second-gen-ai-chatbot-row .sbox-2:hover {
  background-color: #FFF;
  color: #000 !important;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.second-gen-ai-chatbot-row .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.second-gen-ai-chatbot-row .sbox-2 {
    height: 360px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.second-gen-ai-chatbot-row .sbox-2 {
    height: 350px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.second-gen-ai-chatbot-row .sbox-2 {
    height: 350px; /* Example height for extra large screens */
  }
}

/* second end */

/* en-ai-chatbot-row-detail  */

.gen-ai-chatbot-row-detail-first {
  display: flex;
  flex-wrap: wrap;
  
}

.gen-ai-chatbot-row-detail-first .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 230px;;
  padding: 0px 20px !important;
  text-align: left;
}

.en-ai-chatbot-row-detail-first .sbox-2 ul {
  list-style-type: none;
  padding: 0;
  }
  
  .en-ai-chatbot-row-detail-first .sbox-2 ul li {
  text-align: left;
  }

.gen-ai-chatbot-row-detail-first .sbox-2:hover {
  background-color: #FFF;
  color: #000 !important;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.gen-ai-chatbot-row-detail-first .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.gen-ai-chatbot-row-detail-first .sbox-2 {
    height: 340px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.gen-ai-chatbot-row-detail-first .sbox-2 {
    height: 230px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.gen-ai-chatbot-row-detail-first .sbox-2 {
    height: 230px; /* Example height for extra large screens */
  }
}

/* second */
.gen-ai-chatbot-row-detail-second {
  display: flex;
  flex-wrap: wrap;
  
}

.gen-ai-chatbot-row-detail-second .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 280px;;
  padding: 0px 20px !important;
  text-align: left;
}

.en-ai-chatbot-row-detail-second .sbox-2 ul {
  list-style-type: none;
  padding: 0;
  }
  
  .en-ai-chatbot-row-detail-second .sbox-2 ul li {
  text-align: left;
  }

.gen-ai-chatbot-row-detail-second .sbox-2:hover {
  background-color: #FFF;
  color: #000 !important;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.gen-ai-chatbot-row-detail-second .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.gen-ai-chatbot-row-detail-second .sbox-2 {
    height: 340px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.gen-ai-chatbot-row-detail-second .sbox-2 {
    height: 280px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.gen-ai-chatbot-row-detail-second .sbox-2 {
    height: 280px; /* Example height for extra large screens */
  }
}

/* third */

.gen-ai-chatbot-row-detail-third {
  display: flex;
  flex-wrap: wrap;
  
}

.gen-ai-chatbot-row-detail-third .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 310px;;
  padding: 0px 20px !important;
  text-align: left;
}

.en-ai-chatbot-row-detail-third .sbox-2 ul {
  list-style-type: none;
  padding: 0;
  }
  
  .en-ai-chatbot-row-detail-third .sbox-2 ul li {
  text-align: left;
  }

.gen-ai-chatbot-row-detail-third .sbox-2:hover {
  background-color: #FFF;
  color: #000 !important;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.gen-ai-chatbot-row-detail-third .sbox-2 {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.gen-ai-chatbot-row-detail-third .sbox-2 {
    height: 360px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.gen-ai-chatbot-row-detail-third .sbox-2 {
    height: 310px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.gen-ai-chatbot-row-detail-third .sbox-2 {
    height: 310px; /* Example height for extra large screens */
  }
}

/* gen-ai-chatbot-row-detail END */

/* gen-ai-chatbot-end */



 /* Style for the caret icon */
.caret-icon {
  margin-left: 8px; /* Adjust the margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
}

/* Optional: Styling for the collapsed state */
.collapsed .caret-icon {
  transform: rotate(90deg); /* Rotate the caret for collapsed state */
}



/* SMS start */

.sms-service-row {
  display: flex;
  flex-wrap: wrap;
  
}

.sms-service-row .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 310px;;
  padding: 0px 20px !important;
  text-align: left;
}

.sms-service-row .sbox-2 ul {
list-style-type: none;
padding: 0;
}

.sms-service-row .sbox-2 ul li {
text-align: left;
}

.sms-service-row .sbox-2:hover {
background-color: #FFF;
color: #000;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.sms-service-row .sbox-2 {
  height: auto; /* Reset height for smaller screens */
}
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.sms-service-row .sbox-2 {
  height: 370px; /* Example height for medium screens */
}
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.sms-service-row .sbox-2 {
  height: 370px; /* Example height for large screens */
}
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.sms-service-row .sbox-2 {
  height: 310px; /* Example height for extra large screens */
}
}

/* SMS END */

/* CRM start */

.crm-solutions-service-row {
  display: flex;
  flex-wrap: wrap;
  
}

.crm-solutions-service-row .sbox-2 {
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 550px;;
  padding: 0px 20px !important;
  text-align: left;
}

.crm-solutions-service-row .sbox-2 ul {
list-style-type: none;
padding: 0;
}

.crm-solutions-service-row .sbox-2 ul li {
text-align: left;
}

.crm-solutions-service-row .sbox-2:hover {
background-color: #FFF;
color: #000;
}


/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
.crm-solutions-service-row .sbox-2 {
  height: auto; /* Reset height for smaller screens */
}
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
.crm-solutions-service-row .sbox-2 {
  height: 570px; /* Example height for medium screens */
}
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
.crm-solutions-service-row .sbox-2 {
  height: 570px; /* Example height for large screens */
}
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
.crm-solutions-service-row .sbox-2 {
  height: 550px; /* Example height for extra large screens */
}
}

/* CRM END */
 



/* BUSINESS PAGE Start */

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .card  {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .card  {
    height: 300px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .card  {
    height: 300px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .card  {
    height: 300px; /* Example height for extra large screens */
  }
}

/* Adjust styles for small screens (up to 576px) */
@media (max-width: 576px) {
  .content  {
    height: auto; /* Reset height for smaller screens */
  }
}

/* Adjust styles for medium screens (576px - 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .content  {
    height: 300px; /* Example height for medium screens */
  }
}

/* Adjust styles for large screens (768px - 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .content  {
    height: 300px; /* Example height for large screens */
  }
}

/* Adjust styles for extra large screens (992px and above) */
@media (min-width: 993px) {
  .content  {
    height: 300px; /* Example height for extra large screens */
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #6936f5;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}


/* Business breadcrumbs */

/* .business-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-ecommerce.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
} */

.business-page-hero-section {
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
  transition: background-image 0.5s ease-in-out;
}




.insurance-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-insurance.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.travel-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-travel-hospitality.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}


.healthcare-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-healthcare.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.financial-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-financial-services.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.media-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-media.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.telecommunication-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-telecommunication.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.technologies-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/businesss-technologies.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.automotive-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-automotive.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.renewable-power-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-renewable-power.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.government-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-government.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.real-estate-infrastructure-page-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/business-real-estate-infrastructure.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}
/* BUSINESS PAGE END */



/* service start */

.telecalling-bg {
  /* background-image: url(../images/tele-calling-solutions-bg.webp); */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/tele-calling-solutions-bg.webp');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}


.managed-sales-process-bg {
  /* background-image: url(../images/tele-calling-solutions-bg.webp); */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/managed-sales-process.jpg');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}


.retail-merchandising-audit-bg {
  /* background-image: url(../images/tele-calling-solutions-bg.webp); */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/retail-merchandising-audit.jpg');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.integrated-marketing-solutions-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/integrated-marketing-solutions.jpg');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.resource-augmentation-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/resource-augmentation.jpg');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}

.ecommerce-plugin-content-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/ecommerce-plugin-content.jpg');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}


.ecommerce-plugin-content-bg-99{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/ecommerce-plugin-content.jpg');
  background-color: #f8f9fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  height: 100%;
  z-index: 3;
}
/* services-end */



.y-us-section {
  padding: 82px 0 82px;
}
.y-us-head {
  text-align: center;
  margin: 0 0 91px;
}
.y-us-title h2 {
  color: #000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.y-us-title > p {
  color: #777777;
  line-height: 22px;
}
.y-us-title-border {
  background: #6936f5 none repeat scroll 0 0;
  border-radius: 2px;
  display: inline-block;
  height: 3px;
  position: relative;
  width: 50px;
}
.service-3 .service-box {
  margin-bottom: 18px;
}
.service-3 .service-box .iconset {
  float: left;
  text-align: center;
  width: 25%;
}
.service-3 .service-box .iconset i {
  color: #000;
  font-size: 44px;
}
.service-3 .service-box .y-us-content {
  float: left;
  width: 75%;
}
service-3 .service-box .y-us-content h4 {
  color: #3a3a3a;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 14px 0 12px;
  text-transform: uppercase;
}
.service-3 .service-box .y-us-content p {
  color: #777777;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}

.icon {
  color : #6936f5;
  padding:0px;
  font-size:40px;
  border: 1px solid #6936f5;
  border-radius: 100px;
  color: #6936f5;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}

.icon img {
  border-radius: 50%;
  margin: 5px;
}

.why-container {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}



/* swiper */


/* WhatsApp Icon */

.sticks-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000; /* Ensure it appears above other content */
}

.sticks-icon__link {
  display: inline-block;
  background-color: #25D366; /* WhatsApp green color */
  color: white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  text-decoration: none;
  width: 70px;
  height: 70px;
  font-size: 45px;
}

.sticks-icon__link:hover {
  background-color: #128C7E; /* Darker green on hover */
}


/* WhatsApp Icon End*/